.App {
  padding: 20px 0;
  background: #fafafa;
  color: #141414;
}

/* dark mode */
.App.dark{
  background: #222;
  color: #fafafa;
}

.App.dark input:not([readOnly]){
  background: #333;
  color: #fafafa;
}

.App.dark input{
  color: #fafafa;
}

.App.dark .reports-wrapper{
  background: #111;
  color: #fafafa;
}

.App.dark .reports-wrapper #reports_cont>div{
  background: #333;
  color: #fafafa;
}